# Boring file regexps:

# C object files
*.o
*.a
*.so
# Ocaml object files
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.cmjs

# backup files
*~

# Specific to Js_of_ocaml
*.byte
*.tmpjs
*.map
lib/stubs.c
lib/sys_js.ml
runtime/runtime.js
toplevel/toplevel.js
toplevel/eval.js
toplevel/toplevel-fs.js
toplevel/*.cmis.js
toplevel/server
examples/wiki/wikicreole.ml
examples/*/*.js
compiler/js_of_ocaml
compiler/jsoo_minify
compiler/js_lexer.ml
compiler/js_parser.ml
compiler/js_parser.mli
compiler/compiler_version.ml
compiler/man
jsoo_tools/jsoo_mktop
jsoo_tools/jsoo_mkcmis
jsoo_tools/jsoo_mktop.opt
jsoo_tools/jsoo_mkcmis.opt
compiler/util.ml
compiler/annot_lexer.ml
compiler/annot_parser.ml
compiler/annot_parser.mli
compiler/*.conflicts
doc/api/html
benchmarks/build
benchmarks/results
benchmarks/config
lib/deriving_json/deriving_Json_lexer.ml
Makefile.local

# OCamlbuild dir
ocamlbuild/_build/

doc/ocsigen.org-data
doc/api/wiki/
doc/manual/files/boulderdash/
doc/manual/files/cubes/
doc/manual/files/graph_viewer/
doc/manual/files/hyperbolic/
doc/manual/files/minesweeper/
doc/manual/files/planet/
doc/manual/files/toplevel/
doc/manual/files/webgl/
doc/manual/files/wiki/
doc/manual/files/wysiwyg/
