# Boring file regexps:

# C object files
*.o
*.a
*.so
# Ocaml object files
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.cmjs

# backup files
*~
*#
.#*

# Specific to Js_of_ocaml
*.byte
*.tmpjs
*.map
lib/stubs.c
lib/lib_version.ml
toplevel/lib/jsooTopError.ml
lib/META
runtime/runtime.js
toplevel/examples/toplevel.js
toplevel/examples/test_dynlink.js
toplevel/examples/eval.js
toplevel/examples/toplevel-fs.js
toplevel/examples/*.cmis.js
toplevel/examples/server
toplevel/examples/toplevel.ml
examples/wiki/wikicreole.ml
examples/*/*.js
compiler/js_of_ocaml
compiler/jsoo_minify
compiler/jsoo_link
compiler/lib/compiler_version.ml
compiler/man
toplevel/bin/jsoo_mktop
toplevel/bin/jsoo_mkcmis
toplevel/bin/jsoo_listunits
toplevel/bin/jsoo_mktop.opt
toplevel/bin/jsoo_mkcmis.opt
toplevel/bin/jsoo_listunits.opt
compiler/lib/util.ml
doc/api/html
benchmarks/build
benchmarks/results
benchmarks/config
lib/deriving_json/deriving_Json_lexer.ml
Makefile.local

# OCamlbuild dir
ocamlbuild/_build/

doc/ocsigen.org-data
doc/api/wiki/
doc/manual/files/boulderdash/
doc/manual/files/cubes/
doc/manual/files/graph_viewer/
doc/manual/files/hyperbolic/
doc/manual/files/minesweeper/
doc/manual/files/planet/
doc/manual/files/toplevel/
doc/manual/files/webgl/
doc/manual/files/wiki/
doc/manual/files/wysiwyg/

ppx/ppx_js/bin/ppx_js
ppx/ppx_js/bin/ppx_js.byte
ppx/ppx_js/bin/ppx_js.opt
ppx/ppx_js/tests/expect

ppx/ppx_deriving_json/lib/ppx_deriving_json.ml
ppx/ppx_deriving_json/tests/expect

tests/ppx/expect
tests/ppx/expect_deriving

_opam
_build
