break-cases=toplevel
break-collection-expressions=fit-or-vertical
break-fun-decl=fit-or-vertical
break-infix=fit-or-vertical
break-struct=force
break-sequences=true
field-space=loose
if-then-else=keyword-first
indicate-multiline-delimiters=no
infix-precedence=parens
margin=90
parens-tuple=multi-line-only
sequence-style=terminator
type-decl=sparse
version=0.11.0
wrap-comments=false
wrap-fun-args=false
