break-cases=toplevel
break-fun-decl=fit-or-vertical
break-infix=fit-or-vertical
if-then-else=keyword-first
parens-tuple=multi-line-only
type-decl=sparse
wrap-comments=false
wrap-fun-args=false
doc-comments=after-when-possible
indicate-multiline-delimiters=no
break-infix-before-func
break-separators=before
dock-collection-brackets=false
margin=90
version=0.19.0
