# JBUILDER_GEN

package "runtime" (

package "num" (
  description = "runtime support for the num library."
  version = "[distributed with js_of_ocaml-compiler]"
  jsoo_runtime = "nat.js"
  linkopts(javascript) = "+js_of_ocaml-compiler/nat.js"
)

package "graphics" (
  description = "runtime support for the graphics library."
  version = "[distributed with js_of_ocaml-compiler]"
  jsoo_runtime = "graphics.js"
  linkopts(javascript) = "+js_of_ocaml-compiler/graphics.js"
)

)
