# JBUILDER_GEN

package "deriving" (
  description = "deprecated alias. use js_of_ocaml-ppx_deriving_json directly"
  requires = "js_of_ocaml-ppx_deriving_json"
)

package "as-lib" (
  archive(byte) = "ppx_js.cma"
  archive(native) = "ppx_js.cmxa"
  plugin(byte) = "ppx_js.cma"
  plugin(native) = "ppx_js.cmxs"
  exists_if = "ppx_js.cma"
  requires = "compiler-libs
              compiler-libs.common
              ocaml-migrate-parsetree
              ppx_tools_versioned"
)
