name: build

on:
  pull_request:
  push:
    branches:
      - master
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 4.04.x
          - 4.05.x
          - 4.06.x
          - 4.07.x
          - 4.08.x
          - 4.09.x
          - 4.10.x
          - 4.11.x
          - 4.12.x
        skip-test:
          - true
        skip-doc:
          - true
        include:
          - os: ubuntu-latest
            ocaml-compiler: 4.13.x
            skip-test: false
            skip-doc: false
          - os: macos-latest
            ocaml-compiler: 4.13.x
            skip-test: false
            skip-doc: true
          - os: windows-latest
            ocaml-compiler: 4.13.x
            skip-test: false
            skip-doc: true

    runs-on: ${{ matrix.os }}

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
          git config --global core.ignorecase false

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true
          opam-depext: ${{ !matrix.skip-test }}
          opam-depext-flags: --with-test

      - run: opam install . --best-effort
        if: ${{ matrix.skip-test }}

      - run: opam install . --with-test
        if: ${{ !matrix.skip-test }}

      - run: opam exec -- make all
        if: ${{ !matrix.skip-test }}

      - run: opam exec -- make tests
        if: ${{ !matrix.skip-test }}

      - run: opam exec -- git diff --exit-code
        if: ${{ !matrix.skip-test }}

      - name: build doc
        if: ${{ !matrix.skip-doc && github.event_name == 'push' && github.ref == 'refs/heads/master'}}
        run: |
           opam install odoc.1.5.3 lwt_log cohttp-lwt-unix yojson ocp-indent graphics higlo
           opam exec -- make doc

      - name: synchronize doc
        if: ${{ !matrix.skip-doc && github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@4.2.1
        with:
          branch: wikidoc
          folder: doc-dev
          clean: true
          target-folder: doc/dev/

  lint-fmt:
    strategy:
      matrix:
        ocaml-compiler:
          - 4.13.x

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          dune-cache: true

      - run: opam depext ocamlformat=$(cat .ocamlformat | grep version | cut -d '=' -f 2) --install

      - run: opam exec -- dune build @fmt
