name: Check changelog

on:
  pull_request:
    branches:
      - master
    types:
      - labeled
      - opened
      - reopened
      - synchronize
      - unlabeled

jobs:
  check-changelog:
    name: Check changelog
    runs-on: ubuntu-latest
    steps:
      - name: Check changelog
        uses: tarides/changelog-check-action@v3
